# Changelog

All notable changes to this project will be documented in this file.

## [{{version}}] - {{date}}

### Changed

- Updated Alpine to 3.18.3

### Enhanced

- Automatic generation of the release notes
- Added pre-commit hooks
